body{
background-image:url(img/bg1.png);
background-size:100%;

}
.header_login{
	width:29.6%;
	border-radius:10px 10px 0 0;
	background:white;
	color:black;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:15.7%;
	margin-left:35.2%;
	font-weight:bolder;
	font-size:20px;
	font-family:system-ui;
	box-shadow: 19px 19px 19px black;
}
.header_logmin{
	width:29.6%;
	border-radius:10px 10px 0 0;
	background:white;
	color:black;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:15.7%;
	margin-left:35.2%;
	font-weight:bolder;
	font-size:20px;
	font-family:system-ui;
	box-shadow: 19px 19px 19px black;
}
.header_dadmin{
	width:29.6%;
	border-radius:10px 10px 0 0;
	background:white;
	color:black;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:230px;
	margin-left:650px;
	font-weight:bolder;
	font-size:20px;
	font-family:system-ui;
	box-shadow: 19px 19px 19px black;
}
.header_daftar{
	width:534px;
	border-radius:10px 10px 0 0;
	background:white;
	color:black;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:0px;
	margin-left:650px;
	font-weight:bolder;
	font-size:20px;
	font-family:system-ui;
	box-shadow: 19px 19px 19px black;
}
.header_update{
	width:533px;
	border-radius:10px 10px 0 0;
	background:white;
	color:black;
	text-align:center;
	margin:auto;
	padding:10px;
	margin-top:80px;
	margin-left:650px;
	font-weight:bolder;
	font-size:20px;
	font-family:system-ui;
	box-shadow: 19px 19px 19px black;
}

.bodi_login{
	width:29.6%;
	height:20%;
	margin:auto;
	padding:10px;
	background:white;
	margin-left:35.2%;
	box-shadow: 19px 19px 19px black;

}
.bodi_profil{
	width:29.6%;
	height:25%;
	margin:auto;
	padding:10px;
	background:white;
	margin-left:475px;
	box-shadow: 19px 19px 19px black;
	text-align:center;

}
.gambar{
	background-image:url(img/bg1.png);
	background-size:100%;
}
.bodi_dadmin{
	width:29.6%;
	height:20%;
	margin:auto;
	padding:10px;
	background:white;
	margin-left:650px;
	box-shadow: 19px 19px 19px black;

}
.bodi_daftar{
	width:29.6%;
	height:70%;
	margin:auto;
	padding:10px;
	background:white;
	margin-left:650px;
	box-shadow: 19px 19px 19px black;
	font-size:30px;
}
.bodi_update{
	width:29.65%;
	height:8%;
	margin:auto;
	padding:10px;
	background:white;
	margin-left:650px;
	box-shadow: 19px 19px 19px black;

}
.kotak{
	width:18%;
	height:35%;
	background-color:darkviolet;
}


.footer_login{
	width:29.6%;
	height:7.4%;
	padding:10px;
	border-radius:0 0 10px 10px;
	margin:auto;
	background:white;
	text-align:center;
	color:black;
	margin-left:35.2%;
	box-shadow: 19px 19px 19px black;
}

.footer_daftar{
	width:29.6%;
	height:15%;
	padding:10px;
	border-radius:0 0 10px 10px;
	margin:auto;
	background:white;
	text-align:center;
	color:black;
	margin-left:650px;
	box-shadow: 19px 19px 19px black;
}
.footer_daftar a{
	color:black;
	text-decoration:none;
}
.footer_daftar a:hover{
	color:white;
	background: darkviolet;
	transition: all .2s;
	padding:10px;
}
.footer_login a{
	color:black;
	text-decoration:none;
}
.footer_login a:hover{
	color:white;
	transition: all .2s;
	padding:10px;
}
input[type="text"]{
	padding:5px;
	border-radius:0px;
	border:none;
	border-bottom:2px solid;
	outline:none;
	width:75%;
	height:35px;
}
input[type="date"]{
	padding:5px;
	border-radius:0px;
	border:none;
	border-bottom:2px solid;
	outline:none;
	width:75%;
	height:35px;
}
textarea[type="text"]{
	padding:5px;
	border-radius:5px;
	border:none;
	border-bottom:2px solid;
	outline:none;
	width:75%;
	height:35px;
}
input[type="submit"]{
	padding:5px;
	border-radius:2px;
	border:none;
	outline:none;
	background:darkviolet;
	width:30%;
	height:35px;
	color:white;
	transition: all .2s;

}

button a{
	padding:0px;
	border-radius:2px;
	border:none;
	outline:none;
	background:darkviolet;
	width:30%;
	height:8.1%;
	color:white;
	transition: all .2s;
	text-decoration:none;

}
a:hover{
	color:white;
	background: darkviolet;
	transition: all .2s;
	padding:10px;
	width:30%;
	height:8.1%;
}
a{
	color:black;
	text-decoration:none;
}

input[type="text"]:focus{
	box-shadow:0px 0px 5px aqua;
	border
	transition:all 0.5s;
}
input[type="varchar"]{
	padding:5px;
	border-radius:2px;
	border:none;
	border-bottom:2px solid;
	outline:none;
	width:75%;
	height:35px;
	
}
input[type="varchar"]:focus{
	box-shadow:0px 0px 5px aqua;
	transition:all 0.5s;
}

input[type="password"]{
	padding:5px;
	border-radius:2px;
	border:none;
	border-bottom:2px solid;
	outline:none;
	width:75%;
	height:35px;
}
input[type="password"]:focus{
	box-shadow:0px 0px 5px aqua;
	transition:all 0.5s;
}
textarea[type="text"]{
	padding:5px;
	border-radius:2px;
	border:none;
	border-bottom:2px solid;
	outline:none;
}
textarea[type="text"]:focus{
	box-shadow:0px 0px 5px aqua;
	transition:all 0.5s;
}
select {[option]
	padding:5px;
	border-radius:2px;
	border:none;
	border-bottom:2px solid;
	outline:none;
	width:75%;
	height:35px;
}

@media (max-width:600px){
	body{
		margin:0;padding:0;
	}
	.header_login{
		padding:10px 0 10px 0;
		width:100%;
		margin-top:0;
		border-radius:0;
	}
	.bodi_login{
		width:100%;
		padding:10px 0 10px 0;
	}
	.footer_login{
		width:100%;
		border-radius:0;
		padding:10px 0 10px 0;
	}
}
}

