*{
	padding:0px;
	margin:0px;
}
.header{
	margin:0 auto;
	width:100%;
	height:100%;
	background:white;
	background-image:url(img/head.png);
	background-size:100%;
	background-repeat:no-repeat;

}
.headeradmin{
	margin:0 auto;
	width:100%;
	height:100%;
	background:white;
	background-image:url(img/nah.png);
	background-size:100%;
	background-repeat:no-repeat;

}
.menu{
	margin:0 auto;
	width:100%;
	height:8%;
	line-height:40px;
	background:black;
	padding:0;
	position:fixed;
}
.menu ul{
	list-style:none;
	padding:0;
	margin:0;
}
.menu ul ul{
	list-style:none;
	display:none;
	position:absolute;
	margin-top:40px;
	width:150px;
}
.menu ul li{
	float:left;
	padding:0;
}
.menu ul li a{
	display:block;
	float:left;
	width:150px;
	height:8%;
	text-align:center;
	color:white;
	background:black;
	text-decoration:none;
	text-transform:uppercase;
	
}
.konten{
	width:100%;
	height:78%;
	float:left;
	margin-top:0 px;
	margin-left:0px;
	background:white;
	opacity:opacity:0.4;
	filter:alpha(opacity=40);
}
.kontenadmin{
	width:100%;
	height:150%;
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	background:white;
	opacity:opacity:0.4;
	filter:alpha(opacity=40);
	background-image:url(img/boaguis.png);
		background-repeat:repeat-y;
	background-size:100%;

}

.kontenubah{
	width:100%;
	height:800%;
	float:left;
	background-image:url(img/bg1.png);
	background-size:100%;
	background-repeat:no-repeat;
}
.footer{
	width:100%;
	height:8%;
	background-color:black;
	color:white:
}

#pertama{
	width:100%;
	height:100%;
	color:black;
	background-image:url(img/naaaad.png);
	background-size:100%;
	background-repeat:no-repeat;
}
.data{
	margin-left:90px;
	margin-top:90px;
	width:980px;
	height:300px;
	border-color:gold;
	text-align:center;
}
.kedua{
		width:100%;
	height:100%;
	float:left;
	margin-top:0 px;
	margin-left:0px;
	background:white;
	opacity:opacity:0.4;
	filter:alpha(opacity=40);
	background-image:url(img/boaguis.png);
		background-repeat:no-repeat;
	background-size:100%;

}
